@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.bold {
  font-family: "Poppins";
}

.specialBtn {
  background: black;
  box-shadow: 0px 14px 55px rgba(219, 10, 205, 0.2);
  border: 1px solid rgba(129, 149, 248, 1);
  transition: border-color 200ms;
}

.specialBtn:hover {
  opacity: 0.8;
  border-color: rgba(79, 70, 229, 1);
}

.loading {
  animation: width 5s linear infinite;
  margin-right: auto;
}

.loading1 {
  animation-delay: -4s;
}
.loading2 {
  animation-delay: -2s;
}

@keyframes width {
  0% {
    width: 100%;
  }
  10% {
    width: 73%;
  }
  20% {
    width: 35%;
  }
  30% {
    width: 37%;
  }
  40% {
    width: 48%;
  }
  50% {
    width: 65%;
  }
  60% {
    width: 46%;
  }
  70% {
    width: 38%;
  }
  80% {
    width: 66%;
  }
  90% {
    width: 76%;
  }
  100% {
    width: 100%;
  }
}

.specialShadow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.specialShadow:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.underline-effect,
.underline-effect-header {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}

.underline-effect::after,
.underline-effect-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #6366f1;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline-effect-header {
  padding-bottom: 3px;
}

.underline-effect:hover::after,
.underline-effect-header:hover::after {
  transform: scaleX(1);
}

html {
  scroll-behavior: smooth;
}
